.main {
  min-height: 100vh;
  background-image: url('../public/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(rgb(23 71 4 / 75%), rgb(5 31 2 / 75%));
}

.upload__drop {
  z-index: 10;
  width: 700px;
  height: 700px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(73 151 201 / 50%) 5.73%, rgb(28 166 174 / 80%) 33.09%, rgb(24 188 54 / 80%) 68.37%, rgb(61 237 147 / 50%) 90.02%);
  border-radius: 50%;
  text-align: center;
  font-style: italic;
  position: relative;
  top: 50px;
}

.title2 {
  font-size: 50px;
  margin-bottom: -15px;
  width: 300px;
}
.title2, .text, .icon, .icon__container p {
  //mix-blend-mode: overlay;
  opacity: 0.9;
}
.icon {
  font-size: 100px !important;
}


.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon__container p {
  margin: auto;
  margin-left: 10px;
  font-size: 80px;
}

.start__button {
  padding: 10px 80px;
  background: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.start__button:hover {
  transform: scale(1.1);
}
.start__button p {
  //mix-blend-mode: overlay;
  linea-height: 15px;
  font-size: 30px;
  color: rgb(47 174 85);
}


/* <-------images-------> */
/* logo */
.title__container {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 40px;
}
.logo__container {
    width: 100px;
    background: none;
}
.title {
  background: -webkit-linear-gradient(135deg, rgb(73 151 201 / 50%) 5.73%, rgb(28 166 174 / 80%) 33.09%, rgb(24 188 54 / 80%) 68.37%, rgb(61 237 147 / 50%) 90.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 50px;
}




/* Dfuture logo */
.df__logo__container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
}

.df__logo__container p {
  color: white;
  opacity: 0.75;
  margin-bottom: 5px;
}


/* urent logo */
.urent__logo__container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
}