.main {
  min-height: 100vh;
  background-image: url('../public/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(hsl(242deg 88.4% 45.3% / 45%), hsl(11deg 100% 52.2% / 41%));
}

.upload__drop {
  z-index: 10;
  width: 600px;
  height: 600px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, hsl(11deg 100% 52% / 20%) 5.73%, hsl(11deg 100% 52% / 90%) 33.09%, hsl(242deg 88% 56% / 90%) 68.37%, hsl(242deg 88% 45% / 20%) 90.02%);
  border-radius: 50%;
  text-align: center;
  font-style: italic;
  position: relative;
  top: 50px;
}

.title2 {
  font-size: 50px;
  margin-bottom: -15px;
  width: 300px;
}
.title2, .text, .icon, .icon__container p {
  //mix-blend-mode: overlay;
  opacity: 0.9;
}
.icon {
  font-size: 100px !important;
}


.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon__container p {
  margin: auto;
  margin-left: 10px;
  font-size: 80px;
}

.start__button {
  padding: 10px 80px;
  background: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.start__button:hover {
  transform: scale(1.1);
}
.start__button p {
  //mix-blend-mode: overlay;
  linea-height: 10px;
  font-size: 30px;
  color: #FD4E00;
}


/* <-------images-------> */
/* logo */
.title__container {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 40px;
}
.logo__container {
    width: 100px;
    background: none;
}
.title {
  color: #FD4E00;
  font-weight: bold;
  font-size: 40px;
}


/* <-------responsive-------> */
@media screen and (max-width: 768px) {
  .upload__drop {
    width: 400px;
    height: 400px;
  }
  .title2 {
    font-size: 30px;
  }
  .icon {
    font-size: 60px !important;
  }
  .icon__container p {
    font-size: 50px;
  }
  .start__button p {
    font-size: 20px;
  }
  .title {
    font-size: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .upload__drop {
    width: 450px;
    height: 450px;
  }
  .title2 {
    font-size: 40px;
  }
  .icon {
    font-size: 80px !important;
  }
  .icon__container p {
    font-size: 60px;
  }
  .start__button {
    padding: 0px 20px;
  }
  .start__button p {
    font-size: 20px;
  }
  .title {
    font-size: 35px;
  }
}