/* :root {
  --neon-text-color: #f40;
  --neon-border-color: #08f;
} */

.main {
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../public/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(rgb(23 71 4 / 75%), rgb(5 31 2 / 75%));
}

/* outer circle */
.outer__circle, .outer__circle2 {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background: none;
    position: absolute;
    z-index: 0;
    border: 0.2rem solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
            0 0 .2rem #fff,
            inset 0 0 .2rem #fff,
            0 0 1rem #12d8ae,
            inset 0 0 1rem #12d8ae,
            0 0 1rem #12d8ae,
            inset 0 0 1rem #12d8ae
}
.ball {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
    filter: blur(10px);
}

/* inner circle */
.circle {
  width: 425px;
  height: 425px;
  border-radius: 50%;
  //background: linear-gradient(90deg, #EB2D5F 0%, #0E33DC 100%);
  background: linear-gradient(135deg, rgb(73 151 201 / 50%) 5.73%, rgb(28 166 174 / 80%) 33.09%, rgb(24 188 54 / 80%) 68.37%, rgb(61 237 147 / 50%) 90.02%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}


/* card */
.card__container {
    z-index: 10;
    width: 300px;
    height: 450px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background: rgba(255, 255, 255, 0.01);
    box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1rem #12d8ae,
            inset 0 0 2rem #12d8ae,
            0 0 1rem #12d8ae,
            inset 0 0 2rem #12d8ae;
    //box-shadow: -10px 10px 50px 10px rgba(63, 59, 234, 0.25), 10px -10px 50px 10px rgba(241, 44, 115, 0.5), inset 0px 39px 55px -36px rgba(255, 255, 255, 0.5), inset 0px 7px 11px -4px #FFFFFF, inset 0px -82px 68px -64px rgba(96, 68, 144, 0.3), inset 0px 95px 100px -48px rgba(202, 204, 255, 0.3), inset 0px 4px 16px rgba(154, 146, 210, 0.3), inset 0px 1px 0px rgba(227, 222, 255, 0.2);
    //backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    //background: linear-gradient(180deg, rgba(42, 69, 213, 0.2) 0%, rgba(42, 69, 213, 0.9) 30.54%, #0C2296 67.59%, rgba(42, 69, 213, 0.2) 100%);
    background: linear-gradient(135deg, rgb(73 151 201 / 50%) 5.73%, rgb(28 166 174 / 80%) 33.09%, rgb(24 188 54 / 80%) 68.37%, rgb(61 237 147 / 50%) 90.02%);
    border-radius: 10px;
    text-align: center;
}
.winner__title {
    font-size: 50px;
    font-style: italic;
    text-shadow: 0 0 1rem #000;
}

.name, .equipo, .equipo2, .nickname, .handi, .handi2 {
    //mix-blend-mode: overlay;
    opacity: 0.7;
    font-style: italic;
    text-shadow: -2px 2px 0.2rem #000;
}
.name {
    font-size: 35px;
    margin-bottom: -20px;
}
.nickname {
    font-size: 25px;
    margin-bottom: 10px;
}
.equipo, .handi {
    font-size: 25px;
    margin-bottom: -10px;
}
.equipo2, .handi2 {
    font-size: 15px;
}
.facts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}


/* actions container */
.actions__container {
    position: absolute;
    bottom: 20px;
    width: 650px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person__icon {
  font-size: 50px !important;
}
.person__icon, .icon__container p, .icon {
  color: rgba(245, 245, 245, 0.85);
}
.icon__container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 130px;
}

.icon__container p {
  margin: auto;
  margin-left: 5px;
  font-size: 40px;
}

.buttons {
  margin-left: 100px;
  height: 35px;
}

.icon__image {
  cursor: pointer;
  width: 35px;
  opacity: 0.85;
  transition: transform 450ms;
}
.icon__image:hover { 
  transform: scale(1.08);
}

/* <-------images-------> */
/* logo */
.title__container {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 40px;
}
.logo__container {
    width: 100px;
    background: none;
    margin-bottom: -35px;
}
.title {
  background: -webkit-linear-gradient(135deg, rgb(73 151 201 / 50%) 5.73%, rgb(28 166 174 / 80%) 33.09%, rgb(24 188 54 / 80%) 68.37%, rgb(61 237 147 / 50%) 90.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 50px;
}




/* Dfuture logo */
.df__logo__container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
}

.df__logo__container p {
  color: white;
  opacity: 0.75;
  margin-bottom: 5px;
}

/* urent logo */
.urent__logo__container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
}